.window{
  width: 65%;
  margin: 100px auto 0;
  display: flex;
}
.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.justifyContent{
  justify-content: center;
}

.alignItems{
  align-items: center;
}

.backgroundColorWhite{
  background-color: white;
}

.backgroundColorYellow{
  background-color: rgb(243, 243, 101);

}

.maxWidthOut{
  width: 100%
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 600px
}

.inputField{
  display: flex;
  gap: 20px;
  width: 100%;
  height: 50px;
}

button.nes-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field *{
  flex: 1;
}

img.icon{
  width: 32px;
  height: 32px;
}

#card-container{
  display:flex;
  flex-direction: column;
  gap: 8px;
}
.nes-container{background-color: white;}

#card-container{
  width: 625px;
}

#card-container > .nes-container{
  display: flex;
  justify-content: space-between;
  flex:auto;
  height: auto;
}

.nes-container >p{
  max-width: 85%;
  overflow-wrap:break-word;
}
.background-done{
  background-color: rgb(243, 243, 101);
}

body{
  background-image: url('background.jpg');
  position: center;
}

.title{
  font-size: 42px;
  font-weight: bold;
}