.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 600px;
  position: relative;
  text-align: center;
  gap: 20px;
}

.homeButton {
  /* position: absolute; */
}

.noteInput {
  height: 80px;
}
